body {
  font-family: sans-serif;
  color: #f7eebb;
}

header {
  text-align: center;
  grid-area: a;
  background-color: #004445;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 6rem;
}

menu {
  margin: 0;
  padding: 1rem 4rem;
  background-color: #2c786c;
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

menu a {
  visibility: hidden;
}

menu i {
  margin: 0;
  font-size: 24px;
}

menu p {
  margin: 0;
}

main {
  grid-area: c;
  min-height: 90vh;
  background-color: #93e4c1;
}

footer {
  grid-area: d;
  background-color: #004445;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

a {
  color: #f7eebb;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

.main-container {
  display: grid;
  grid-template-areas:
    "b"
    "a"
    "c"
    "d";
}

.products-grid {
  margin: 5rem 6rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 576px) {
  .main-container {
    grid-template-areas:
      "b a a a"
      "b c c c"
      "b c c c"
      "b c c c"
      "b c c c"
      "d c c c";
  }

  menu {
    padding: 1rem;
    flex-direction: column;
    justify-content: normal;
  }

  menu i {
    visibility: hidden;
  }

  menu a {
    visibility: visible;
  }

  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-card {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7eebb;
}

.product-body {
  flex-grow: 1;
  color: #004445;
  text-align: center;
  width: 100%;
}

.product-body p {
  margin: 0;
  padding: 0.2rem;
}

.product-card button {
  background-color: #2c786c;
  border: none;
  width: 100%;
  color: #faf5e4;
}

.product-card button:hover {
  background-color: #004445;
}

.product-image img {
  width: 100%;
}

.pages-nav-container {
  position: sticky;
  bottom: 2rem;
  margin: 0 30%;
  margin-bottom: 5rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #2c786c;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (min-width: 576px) {
  .pages-nav-container {
    margin: 0 35%;
  }
}

@media (min-width: 992px) {
  .pages-nav-container {
    margin: 0 40%;
  }
}

.pages-nav-item {
  border: solid 1px;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}
